form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #666565;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 5px;
  border: 2px solid #666565;
  border-radius: 5px;
  margin: 2px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #145518;
}

.error {
  color: red;
}
